/* app global css */

html {
  font-size: 67.5%;
  background-color: #f2f2f2;
  margin: 4rem;
}

form {
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 1.7em 0em rgb(191, 218, 218);
  padding: 2rem;
}

li {
  margin: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
  list-style: none;
  box-shadow: 0.5em 0.5em 1.7em 0em rgb(191, 218, 218);
}

div ul {
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 1.7em 0em rgb(191, 218, 218);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form,
h4,
ul {
  width: 25%;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

form label,
button {
  display: inline-block;
  width: 100%; /* Adjust the width as needed */
  text-align: center;
  margin-right: 10px; /* Add spacing between label and input */
  font-size: 1.5rem;
  border-radius: 0.8rem;
}

button {
  box-shadow: 0.5em 0.5em 1.7em 0em rgb(191, 218, 218);
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0.5em 0.5em 1.7em 0em rgb(191, 218, 218);
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
}

h4 {
  margin-bottom: 2rem;
  margin-top: 3rem;
}
